**Exercise 1: Create a Jupyter Notebook**

**Exercise 2: Create markdown cell with title of the notebook**
<br>
# Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**
<br>
In this notebook, Data Science Tools and Ecosystem are summarized
<br>
Objectives:
<br>
1. List popular languages that Data Scientists use
<br>
2. List commonly used libraries used by Data Scientists
<br>
3. Comment on Data Science tools

**Exercise 4 - Create a markdown cell to list data science languages**
<br>
Some of the popular languages that Data Scientists use are:
<br>
1. Python
<br>
2. R
<br>
3. SQL
<br>
4. Java
<br>
5. Julia

**Exercise 5 - Create a markdown cell to list data science libraries**
<br>
Some of the commonly used libraries used by Data Scientists include:
<br>
1. Pandas
<br>
2. NumPy
<br>
3. SciPy
<br>
4. TensorFlow
<br>
5. Matplotlib
<br>
6. Keras
<br>
7. SciKit-Learn
<br>
8. PyTorch
<br>
9. Scrapy
<br>
10.NuPIC

**Exercise 6 - Create a markdown cell with a table of Data Science tools**
<br>
1. Apache Spark
<br>
2. Hadoop
<br>
3. Watson Studio

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**
<br>
### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# addition
1+4

5

In [5]:
# multiplication
5*7

35

In [6]:
# addition and multiplication
(2+6)*8

64

**Exercise 9 - Create a code cell to convert minutes to hours**
<br>
This will convert 200 minutes to hours by diving by 60

In [7]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

**Exercise 8 - Create a code cell to multiply and add numbers**

In [8]:
(8*4)+9

41

**Exercise 10 -Insert a markdown cell to list Objectives**

#objectives
<br>
1. List data science languages
<br>
2. Commonly used languages for data science
<br>
3. Table of Data Science tools

**Exercise 11 - Create a markdown cell to indicate the Author's name**
<br>
## Author 
<br>
Ranjeet Kumar